<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/">
        <!--- for prerender io ---->
        <meta name="fragment" content="!">
        <base href="/">
        <title>London Talk and Lectures App</title>
        
        <meta name="description" content="{{seo.metaDescription}}">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
        <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    </head>
    <body>

        <div>
        <header>
            <div layout="row" layout-align="center">
                <md-nav-bar md-selected-nav-item="currentNavItem" aria-label="navigation links">
                    <md-nav-item md-nav-sref="about" name="about" aria-label="About">About</md-nav-item>
                    <md-nav-item md-nav-sref="event" name="events" aria-label="Events">Events</md-nav-item>
                    <md-nav-item md-nav-sref="venue" name="venues" aria-label="Venues">Venues</md-nav-item>
                </md-nav-bar>
            </div>
            <!--<a ui-sref="about">About</a>-->
            <!--<a ui-sref="event">Events</a>-->
            <!--<a ui-sref="venue">Venues</a>-->
        </header>
        <div id="main" class="container-fluid">
            <!-- ANGULAR TEMPLATING -->
            <ui-view></ui-view>


    </div>
    <!-----------SCRIPTS ---------------------------------------->

    </div> <!--- END OF THE CONTAINER ------>

    <!---- ANGULAR AND ANGULAR GOOGLE MAPS SCRIPTS ---->


    <script type="text/javascript" src="/lodash/lodash.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/angular/angular.js"></script>

    <script type="text/javascript" src="/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/ng-infinite-scroll/build/ng-infinite-scroll.min.js"></script>

    <script type="text/javascript" src="/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script type="text/javascript" src="/angular-google-maps/dist/angular-google-maps.js"></script>


    <script type="text/javascript" src="/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>

        <!----------- ANGULAR MATERIAL --------------------->
    <script type="text/javascript" src="/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="/angular-material/angular-material.js"></script>

    <script type="text/javascript" src="/app.js"></script>
    <script type="text/javascript" src="/controllers/mainController.js"></script>
    <script type="text/javascript" src="/controllers/eventController.js"></script>
    <script type="text/javascript" src="/controllers/eventsController.js"></script>
    <script type="text/javascript" src="/controllers/venueController.js"></script>
    <script type="text/javascript" src="/controllers/venuesController.js"></script>
    <script type="text/javascript" src="/filters/filters.js"></script>
    <script type="text/javascript" src="/filters/remove-duplicates-filter.js"></script>
    <script type="text/javascript" src="/filters/trust-as-html-filter.js"></script>
    <script type="text/javascript" src="/services/services.js"></script>
    <script type="text/javascript" src="/services/event-service.js"></script>
    <script type="text/javascript" src="/services/venue-service.js"></script>


    </body>
</html>