            html, body {width:100%; height:100%;}
            
    /* CSS NORMALISE IS WITHIN BOOTSTRAP */        

a:hover {
    text-decoration:none;
}

    /* CONTAINER & BODY CSS */
        .all_items {
                display:flex;
                flex-direction:row;
                flex-wrap:wrap;
                justify-content:space-between;
                align-items:baseline;
                align-content:left;    
                padding-top:20px;
            }
            #items {
                width:auto;
                height:auto;
                margin-bottom:10px;
                padding:5px;
                border:1px solid #000;
                font-family: Calibri;
                letter-spacing:1px;
                font-size:11px;
                text-transform: uppercase;
                overflow:hidden;
            }
        /* TABLES */
    
            td {
                vertical-align:top;
                text-align:left;
            }
            .identifier {
                font-weight:bold;
            }
            caption {
                background-color:#000;
                color:#fff;
                font-size:13px;
            }
            .name {
                text-align:center;
                        }
            .name a:hover {
                filter:invert(50%);
            }

            .name a {
                color:#fff;
            }
            
            /*MAPS */
    /* will look into changing map sizes depending on page */      
          .angular-google-map-container { 
              height: 400px; 
              border:1px solid black;
          }   

            
            /* event page */
            
            .info {
                padding:5px;
                margin: 20px 50px;
                width:300px;
                text-transform:uppercase;
                font-size:1em;
                border:1px solid black;
                
            }

            .content {
                margin-top:80px;
            }

            .about {
                margin-top:50px;
            }

            .search {
                width:600px;
                display:inline-block;
                top:10px;
                margin:auto;
                float:right;
            }

            .dets {
                background-color:black;
                color:white;
            }

            .event_description::first-letter {
                font-weight:bold;
                font-size:16px;
            }

            .event_description {
                lline-height:15px;
            }


