
<div class='content row'>
    <div class="col-md-12 dets text-center">
    <p class="text-left lead"><h3>{{lecture.title}}</h3><br>
    <a href="/venue/{{lecture.vid}}">{{lecture.name}}</a> @ {{lecture.datetime | date:'H:mm on EEEE, d MMMM yyyy'}}<br>
    <a href="{{lecture.url}}">Visit to the website</a><br></p>
</div>
</div> <!----end of the title row---->
<div class='content row'>

    <div class="col-md-12 text-justify">
        <div ng-bind-html="lecture.description | trustThis"></div>
    </div>
</div>  

