 <!--- ANGULAR CODE FOR VENUES --->    

<!------ ALL SELECT OPTIONS WILL BE HOUSED HERE, PROVIDING EASY FILTERING. EVENTUALLY I WANT TO INCLUDE FILTERING BY LONDON ZONES------>
<!---- !!! to replace eventbrite column, it's only temporary---->


<!----------------WILL BE USING GROUPBY OPTION ---------------------------------------------------------------------------------->

<!---------------DATEPICKER ---------------------------->
<div class="row"> <!--- ALL SELECTORS----->

    <md-datepicker ng-model="myDate" md-placeholder="Enter date" ng-change="selectDate()"></md-datepicker>

<md-input-container>
    <md-select ng-model="gen" placeholder="Select a genre" md-on-close="selGenre(gen)" placeholder="Select a genre">
    <md-option ng-repeat="genre in genres" value={{genre}}>{{genre}}</md-option>
</md-input-container>
  
   <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="lecture in getMatches(searchText)" md-item-text="lecture.title" md-min-length="0" placeholder="Search for a lecture" class="search">
    <span md-highlight-text="searchText">{{lecture.title}}</span>
</md-autocomplete>

</div> <!------------------ END OF OPTIONS ROW ------------------------------>
<div classs="row">

<div class="all_items">
        <div id="items" ng-repeat="data in lectures">
    
            <table class="layout">
                <caption class='name'><a name={{data.lid}} href='/event/{{data.lid}}'>{{data.title}}</a></caption>
                <tr><td class='identifier'>Date:</td>
                    <td class="data">
                        {{data.datetime | date:'H:mm on EEEE, dd.MM.yy'}}
                    </td>
                     </tr>
               <tr><td class='venue'>Venue:</td>
                    <td class="data">
<!------ WILL LATER REDIRECT TO VENUE CUSTOM PAGE, SHOWING ALL TALKS AND DIRECTIONS ----->
                   <a href='venue/{{data.vid}}'> {{data.name}}</a>
                    </td>
                     </tr>
                <tr>
                    <td colspan="2" class="text-center text-uppercase"><a href="/event/{{data.lid}}">Read more</a></td>
                </tr>
            </table>
        </div> <!-- END OF ITEMS --->

    </div> <!-----------END OF ALL ITEMS-------------------->
</div> <!----- END OF EVENTS ROW ----------------------------------------->
